body {
    margin: 0;
    padding: 0;
    /* Убираем фон для body, так как панель теперь будет его задавать */
}

.top-panel {
    background-image: url('top_panel.png');
    background-repeat: repeat-x;

    /* 1. Новая высота, соответствующая твоему новому спрайту из Aseprite */
    height: 60px; 

    /* 2. Убираем background-size! Браузер сам возьмет размер картинки 1:1 */

    /* 3. Оставляем на всякий случай для четкости на Retina-экранах (телефонах) */
    image-rendering: pixelated; 
    image-rendering: crisp-edges; 
}
